ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.top {
  height: 80px;
  /*background:red;*/
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
  min-height: 50px;
  margin-bottom: 20px;
  font-family: "宋体";
  font-size: 14px;
  line-height: 25px;
  color: #333;
}
.headleft {
  width: 38%;
  height: 50px;
  margin-left: -15px;
  float: left;
}
.headleft img {
  margin-left: 15px;
  margin-top: 15px;
}
.headcenter {
  width: 677px;
  height: 80px;
  float: left;
}
.headcenter ul li {
  float: left;
  width: 96px;
  height: 80px;
  font-family: "微软雅黑";
  line-height: 20px;
  text-align: center;
}
.headcenter ul li:hover {
  background: #F15A25 ;
}
.headcenter ul li:first-child {
  background: #F15A25;
  width: 68px;
}
.headcenter ul li:last-child {
  width: 101px;
}
.headcenter ul li:nth-of-type(2) {
  width: 124px;
}
.headcenter ul li a {
  line-height: 80px;
  color: #fff;
}
.headright {
  width: 74px;
  height: 74px;
  float: right;
  margin-right: -15px;
  background: url(../images/login.png) no-repeat center center;
}
.banner1 {
  background: url(../images/bannere.jpg) no-repeat center center;
  height: 500px;
  text-align: center;
  line-height: 500px;
}
.banner2 {
  background: url(../images/bannerg.jpg) no-repeat center center;
  height: 500px;
  text-align: center;
  line-height: 500px;
}
.head {
  width: 100%;
  height: 50px;
  background-color: #000;
  display: none;
  float: left;
}
.head img {
  width: 156px;
  height: 25px;
  margin-left: 13px;
  margin-top: 13px;
}
.head .headmin {
  width: 43px;
  height: 50px;
  text-align: left;
  line-height: 50px;
  color: #fff;
  float: right;
  font-size: 30px;
}
.head ul li {
  width: 100%;
  height: 40px;
  background: #000;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.head ul li a {
  color: #fff;
}
.fwtop {
  height: 40px;
}
.fwtitle {
  width: 70%;
  margin: 20px auto 0;
  text-align: center;
}
.f1 {
  margin: 80px auto;
  margin-left: 25px;
  margin-right: 20px;
  text-align: center;
}
.f1 img {
  margin-left: 50%;
  transform: translateX(-50%);
  display: block;
  text-align: center;
  height: 70px;
}
.f1 h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "微软雅黑";
  font-weight: 500;
  text-align: center;
  font-size: 20px;
}
.xiabox {
  background: url(../images/banner2.jpg) center center;
  background-position: 100% 54px;
  padding-bottom: 100px;
  height: 606px;
}
.xiajiantou {
  height: auto;
  text-align: center;
}
.xiajiantou i {
  display: block;
  margin: 0 auto;
  background: red;
  width: 49px;
  height: 49px;
  border-radius: 50%;
  text-align: center;
  line-height: 49px;
  color: #fff;
  font-size: 20px;
}
.xiajiantou .tigong {
  height: 233px;
  overflow: hidden;
}
.why .shijian {
  width: 118px;
  height: 118px;
  border-radius: 50%;
  background: #000;
  float: left;
  padding: 30px;
  margin-right: 15px;
  text-align: center;
  line-height: 50px;
  transition: all .5s;
}
.why .shijian i {
  color: #fff;
  font-size: 40px;
}
.why .shijian:hover {
  text-shadow: 1px 1px 2px #000;
  background: #f15a25;
  transition: all .5s;
}
.why .shijian:hover {
  transform: rotate(360deg);
}
.new {
  height: 582px;
  background: url(../images/banner3.jpg) no-repeat center center;
  background-position: 100% -617px;
}
.new i {
  display: block;
  margin: 0 auto;
  background: red;
  width: 49px;
  height: 49px;
  border-radius: 50%;
  text-align: center;
  line-height: 49px;
  color: #fff;
  font-size: 20px;
  transform: translateY(-50%);
}
.new .dongtai {
  margin-bottom: 20px ;
}
.new .bg {
  min-height: 246px;
  background-color: #F15923;
}
.new .bg .bg1 {
  padding-top: 10px;
}
.new .bg .bg1 img {
  width: 100%;
}
.new .bg li {
  color: #fff;
  margin: 5px 20px;
}
.new .bg li:first-child {
  margin-top: 20px;
}
@media screen and (max-width: 1200px) {
  .head {
    display: none;
  }
  .headleft img {
    width: 313px;
    height: 50px;
  }
  .headcenter {
    height: 60px;
    width: 537px;
  }
  .headcenter ul li {
    width: 76px;
    height: 60px;
  }
  .headcenter ul li:first-child {
    background: #F15A25;
    width: 48px;
  }
  .headcenter ul li:last-child {
    width: 81px;
  }
  .headcenter ul li:nth-of-type(2) {
    width: 104px;
  }
  .headcenter ul li a {
    line-height: 60px;
  }
  .headright {
    width: 40px;
    height: 40px;
  }
}
@media screen and (max-width: 1000px) {
  .head {
    display: block;
  }
  .head ul {
    display: none;
  }
  .headleft {
    display: none;
  }
  .headcenter {
    display: none;
  }
  .headright {
    display: none;
  }
  .why .shijian {
    position: absolute;
    left: 50%;
    margin-left: -60px;
  }
  .why h3 {
    margin-top: 128px;
    text-align: center;
  }
  .why p {
    text-align: center;
  }
}
@media screen and (max-width: 765px) {
  .head ul {
    display: none;
  }
  .banner {
    height: 300px;
  }
  .banner1,
  .banner2 {
    height: 300px;
  }
  .banner1 img,
  .banner2 img {
    width: 60%;
    margin-top: -100px;
  }
}
